<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인페이지</title>
</head>
<body>
    <h1>글쓰기 페이지</h1>
    <form method="POST" action="save">
        {% csrf_token %}
        제목<br>
        <input type="text" name="boardTitle"><br>
        내용<br>
        <textarea rows="10" cols="50" name="boardContent"></textarea><br>
        <input type="submit" value="글쓰기">
    </form>

</body>


<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>

</html>